# Node.js / React
node_modules/
*.env
.env.local
.env.development
.env.production
.env.test
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.build/

# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
*.lock

# Android Studio
*.iml
.gradle/
local.properties
/.idea
/captures
*.keystore
*.jks

# Gradle
/build/
gradle.properties
gradlew
gradlew.bat

# Jetpack Compose / XML Builds
.navigation/
.navgraph/
.ui/
xml/

# Firebase / Google Services
google-services.json
firebase.json

# Java / IntelliJ
out/
*.class
*.jar
*.war
*.ear

# Coverage reports
/coverage/

# Git-specific
!.gitignore
